@import "./constants.css";
@import "./progress_bar.css";
@import "./checkout.css";
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html body {
    font-family: 'Montserrat';
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    background-color: var(--color-background-white);
    position: relative;
}

#content {
    padding-top: 0rem;
    padding-bottom: 3rem;
}

header.navbar {
    width: 100%;
    padding: 1rem;
}

footer {
    position: relative;
    width: 100%;
    height: 12rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}

#sidebar {
    height: 100vh;
    background-color: var(--color-background-full-white);
}


/*From template merge*/

header.navbar {
    background-color: var(--color-background-dark-blue);
}

.avatar-pic {
    width: 150px;
}

.accountDelete-button {
    margin-top: 50px;
}

#headerSearchIcon {
    color: var(--color-interactive-orange);
    font-size: 1.5rem;
}

.headerIcon {
    font-size: 1.5rem;
}

#offerPageSellButton {
    background-color: var(--color-interactive-orange);
    border-style: none;
}

#headerSellButton {
    background-color: var(--color-interactive-orange);
    border-style: none;
}


/* buttons css */

.btn.btn-orange {
    background-color: var(--color-interactive-orange);
}

.btn.btn-orange:hover {
    background-color: var(--color-interactive-orange2);
}


/* color css */

.cl-orange {
    color: var(--color-interactive-orange);
}

.cl-orange2 {
    color: var(--color-interactive-orange2);
}

.cl-green {
    color: var(--color-accent-green);
}

.cl-blue {
    color: var(--color-background-dark-blue);
}

.cl-success {
    color: var(--color-interactive-green-success);
}

.cl-fail {
    color: var(--color-interactive-red-fail);
}

.cl-white {
    color: var(--color-background-white);
}


/* backgrounds css */

.bg-orange {
    background-color: var(--color-interactive-orange);
}

.bg-green {
    background-color: var(--color-accent-green);
}

.bg-success {
    background-color: var(--color-interactive-green-success);
}

.bg-insucess {
    background-color: var(--color-interactive-red-fail);
}

.bg-white {
    background-color: var(--color-background-white);
}


/* cards css */

.card {
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 12px 4px rgba(122, 122, 122, 0.24);
    -moz-box-shadow: 0px 0px 12px 4px rgba(122, 122, 122, 0.24);
    box-shadow: 0px 0px 12px 4px rgba(122, 122, 122, 0.24);
    background-color: var(--color-background-white);
    padding: 0;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 25px 13px rgba(105, 105, 105, 0.69);
    -moz-box-shadow: 0px 0px 25px 13px rgba(105, 105, 105, 0.69);
    box-shadow: 0px 0px 25px 13px rgba(105, 105, 105, 0.3);
}


/* meter isto noutra pag css visto que common e sp para o que tem em todas as pasgs */


/* meter isto noutra pag css visto que common e sp para o que tem em todas as pasgs */

#offerAddNewKeyContainer,
#offerAddNewSaleContainer {
    font-size: 1.5em;
}

#loginLogo {
    max-width: 2em;
    max-height: 2em;
    background-color: wheat;
}


/*
.cartProductImage{

}
*/

#headerFixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#checkoutPlaceHolderTop {
    padding-top: 25%;
}

#checkoutStatusEmojiTrue {
    color: var(--color-interactive-green-success);
    font-size: 4.5em;
}

#checkoutStatusEmojiFalse {
    color: var(--color-interactive-red-fail);
    font-size: 4.5em;
}

#checkoutStatusTitle {
    letter-spacing: 0.1em;
    font-weight: bolder;
    color: var(--color-primary-black);
}

#checkoutStatusButton {
    background-color: gray;
    border-color: gray;
}

#sidebar .showAllProductListSideBar {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-style: none;
    color: var(--color-background-dark-blue);
}

.productListSideBarEntry,.homepageNavbarEntry {
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

.cardProductList .cardProductListImg {
    height: 10rem;
    object-fit: cover;
}

.cardHomepage .cardHomepageImg {
    object-fit: cover;
    height: 10rem;
}

#searchBar {
    width: 70%;
    max-width: 35rem;
}


/* this makes sure the iamge on the card does not have padding left and right*/

#content .card {
    padding-left: 0;
    padding-right: 0;
}

#navbarHamburguer {
    border-color: var(--color-interactive-orange);
}

#navbarHamburguer .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235,157,22, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#navbar .breadcrumb{
    padding: 0;
    margin: 0;
    background-color: transparent;
}
#navbar{
    position: relative;
    min-height: 1.5rem;
}
#breadcrumbContainer{
    position: absolute;
    left: 1.5rem;
    top: 0.5rem;
}
#breadcrumbContainer a{
    color: var(--color-primary-light-blue);
}
#navbar .showAllProductListSideBar {
    background-color: transparent;
    border-style: none;
    color: var(--color-background-dark-blue);
}
#navbar .homepageDropdownButton{
    border-color: transparent;
    color:var(--color-background-dark-blue);
    background-color: transparent;
}
#navbar .dropdown-menu{
    background-color: var(--color-background-white);
}
#navbar .dropdown-item{
    font-weight: bolder;
}
.homepageDropdownArrow{
    color: var(--color-interactive-orange);
}