@import "./constants.css";
body {
    font-family: var(--default-sans-serif-font), Arial, sans-serif !important;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.avatar-pic {
    width: 150px;
}

.accountDelete-button {
    margin-top: 50px;
}

body {
    font-family: var(--default-sans-serif-font), Arial, sans-serif !important;
}
header.navbar{
    background-color: var(--color-background-dark-blue) !important;
}
#headerSearchIcon{
    color: var(--color-interactive-orange);
    font-size: 1.5rem;
}
#myAccountIcon{
    color:var(--color-primary-light-blue);
}
#shoppingCartIcon{
    color:var(--color-interactive-orange);
    margin-left: auto !;
}
.headerIcon{
    font-size: 1.5rem;
}
#offerPageSellButton {
    background-color: var(--color-interactive-orange);
    border-style: none;
}

#headerSellButton {
    background-color: var(--color-interactive-orange);
    border-style: none;
}
#headerExploreButton {
    background-color: var(--color-primary-light-blue);
    border-style: none;
}
#footerGeneric{
    background-color:var(--color-background-dark-blue) !important;
}
.gameListItem{
    max-width: 15em;
    max-width: 15em;
}